<div class="col s2 offset-s5">
  <select #yearFilter="ngModel" (ngModelChange)="onChangeSelect($event)" id="yearFilter" name="yearFilter" [ngModel]="">
    <option value="" disabled selected>Filtro</option>
    <option *ngFor="let year of arrayYearsFilter" value="{{year}}">{{year}}</option>
  </select>
</div>

<table class="responsive-table centered highlight">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Act</th>
      <th>F'cast</th>
      <th>Prior</th>
      <th>Rev</th>
      <th>Desv</th>
      <th>Dirección</th>
      <th>Fuerza</th>
      <th>Resultado</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let record of recordsNews" (click)="rowClick(record)">
      <td>{{record.dateNews | date: 'fullDate'}}</td>
      <td>{{record.hourNews}}</td>
      <td>{{record.actual}}</td>
      <td>{{record.fcast}}</td>
      <td>{{record.prior}}</td>
      <td>{{record.rev}}</td>
      <td>{{record.desv}}</td>
      <td>{{record.direction}}</td>
      <td>{{record.strong}}</td>
      <td>{{record.success}}</td>
    </tr>
  </tbody>
</table>