<table class="responsive-table centered highlight">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Act</th>
        <th>F'cast</th>
        <th>Prior</th>
        <th>Rev</th>
        <th>Desv</th>
        <th>Direction</th>
        <th>Strong</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
    </tbody>
  </table>