body {
    min-height: 500px;
}

.card{
    border-radius: 25px;
}

.card .card-image img {
    border-radius: 2px 2px 40px 0;
}

.row .col { 
    padding: 0;
}

.card .card-content {
    padding: 0px;
}

#btnCreate {
    margin-right: 5px;
}

#btnCancel {
    margin-left: 5px;
}