<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Operando Noticias y Más</h1>
      <div class="row center">
        <h5 class="header col s12 light">Estás a punto de sacarle provecho al ÚNICO método en la industria Forex y Opciones BINARIAS que predice la dirección del mercado – Siendo Capaz de Convertir 100 USD en 160. o 400 USD
          en 650 en solo 60 segundos</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Empezar</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img class="img1" src="/assets/home/background1.jpg" width="120" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Opciones Binarias</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Forex</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Brokers</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Resultados</h4>
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="/assets/results/1.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>AUSTRALIA</h3>
                <h5 class="light grey-text text-lighten-3">CPI.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/results/2.png"> <!-- random image -->
              <div class="caption right-align">
                <h3>AUSTRALIA</h3>
                <h5 class="light grey-text text-lighten-3">NAB BUSSINES.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/results/3.png"> <!-- random image -->
              <div class="caption left-align">
                <h3>USA</h3>
                <h5 class="light grey-text text-lighten-3">CPI.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/results/4.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>China</h3>
                <h5 class="light grey-text text-lighten-3">PMI.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
