<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<body>
  <div class="container">
    <div class="section">
      <div class="row center">
        <h3 class="header center teal-text text-lighten-2">{{singleNews.name}}</h3>
        <h5 class="header center teal-text text-lighten-2">{{singleNews.countryName}} | Impacto: {{impact}}</h5>
        <a id="addRegister" class="waves-effect waves-light btn modal-trigger" href="#modal1"> <i
            class="material-icons prefix">add</i></a>
      </div>

    </div>
  </div>

  <div class="row center align-center">
    <div class="col s8 offset-s2">
      <app-table></app-table>
    </div>
  </div>

</body>

<!--MODAL TO CREATE NEWS-->
<div id="modal1" class="modal">
  <div class="modal-content center-align">
    <h5>Agregar registro</h5>
    <div class="row">
      <form class="col s12" #createRegisterForm="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="date" class="validate" [(ngModel)]="newsRegister.dateNews" name="dateNews"
              #dateNews="ngModel" required>
            <label for="first_name">Fecha</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="time" class="validate" [(ngModel)]="newsRegister.hourNews" name="hourNews"
              #hourNews="ngModel" required>
            <label for="last_name">Hora</label>
          </div>
          <div class="input-field col s2">
            <input id="act" type="number" step="0.01" class="validate" [(ngModel)]="newsRegister.actual" name="actual"
              #actual="ngModel" required>
            <label for="act">Act</label>
          </div>
          <div class="input-field col s2">
            <input id="fcast" type="number" step="0.01" class="validate" [(ngModel)]="newsRegister.fcast" name="fcast"
              #fcast="ngModel">
            <label for="fcast">F'cast</label>
          </div>
          <div class="input-field col s2">
            <input id="prior" type="number" step="0.01" class="validate" [(ngModel)]="newsRegister.prior" name="prior"
              #prior="ngModel">
            <label for="prior">Prior</label>
          </div>
          <div class="input-field col s2">
            <input id="rev" type="number" step="0.01" class="validate" [(ngModel)]="newsRegister.rev" name="rev"
              #rev="ngModel">
            <label for="rev">Rev</label>
          </div>
          <div class="input-field col s2">
            <select #direction="ngModel" id="direction" [(ngModel)]="newsRegister.direction" name="direction" required>
              <option value="" disabled selected>Dirección</option>
              <option value="alcista">Alcista</option>
              <option value="bajista">Bajista</option>
            </select>
          </div>
          <div class="input-field col s2">
            <select #strong="ngModel" id="strong" [(ngModel)]="newsRegister.strong" name="strong" required>
              <option value="" disabled selected>Fuerza</option>
              <option value="1">Baja</option>
              <option value="2">Media</option>
              <option value="2">Alta</option>
            </select>
          </div>
          <div class="input-field col s12">
            <input id="annotation" type="text" class="validate" [(ngModel)]="newsRegister.annotation" name="annotation"
              #annotation="ngModel">
            <label for="annotation">Comentario</label>
          </div>
          <div class="center-align">
            <div class="row center">
              <button id="btnCreate" [disabled]="!createRegisterForm.form.valid"
                class="waves-effect waves-light btn modal-trigger" href="#modal1" type="button"
                (click)="evaluateRegister()">Crear
                registro</button>
              <button id="btnCancel" type="button" class="btn modal-trigger red" href="#modal1"
                (click)="closeModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END MODAL TO CREATE NEWS-->