body{
    background: #b2dfdb;
    margin: 0;
    padding: 0;
    height: 100%;
}

#card-container{
    margin: 80;
    min-width: 300px;
}

.row .col.offset-s3 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.row{
    padding-left: 20px;
    padding-right: 20px;
}

#logo-login{
    padding-top: 20px;
}